<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    
    <link rel="icon" type="image/jpg"  href="<%= brand.favicon %>?v=<%= assetV %>" type="image/jpg">

    <!-----------CSS----------->
    <link rel="stylesheet" href="/css/styles.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/display.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/header.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/margins.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/paddings.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/width.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/leftAndRight.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/buttons.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/texts.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/inputs.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/tables.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/loader.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/topAndBottom.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/height.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/popups.css?v=<%= Date.now() %>">

    <!---CSS specific-->
    <link rel="stylesheet" href="<%= brand.css %>?v=<%= assetV %>">
    <link rel="stylesheet" href="/css/specific/dashboard.css?v=<%= Date.now() %>">
    <link rel="stylesheet" href="/css/specific/loaders.css?v=<%= Date.now() %>">                           

    <!---Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <title><%= title %></title>

</head>
