<%- include('../partials/head') %>

<body>
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <div class="login-logo-p3">
                <img src="/images/p3.jpg" alt="P3" class="login-logo-p3-img">
            </div>
            <div class="login-logo-company">
                <img src="<%= brand.logo %>" alt="<%= brand.name %>" class="login-logo-company-img">
            </div>
        </div>

        <form action="/login" method="POST" class="login-form">
            <div class="login-input-group">
                <label for="email" class="login-label <%= locals.errors && errors.email ? 'invalid' : '' %>">
                    Email
                </label>
                <div class="login-input-wrapper">
                    <input 
                        type="email" 
                        name="email" 
                        id="email"
                        class="login-input <%= locals.errors && errors.email ? 'invalid' : '' %>" 
                        value="<%= locals.oldData ? oldData.email : '' %>" 
                        placeholder="tu@email.com"
                        autocomplete="email"
                    >
                    <i class="fa-solid fa-envelope login-input-icon"></i>
                </div>
                <div class="login-error">
                    <%= locals.errors && errors.email ? errors.email.msg : '' %>
                </div>
            </div>

            <div class="login-input-group">
                <label for="password" class="login-label <%= locals.errors && errors.password ? 'invalid' : '' %>">
                    Contraseña
                </label>
                <div class="login-input-wrapper">
                    <input 
                        type="password" 
                        name="password" 
                        id="password"
                        class="login-input <%= locals.errors && errors.password ? 'invalid' : '' %>" 
                        value="<%= locals.oldData ? oldData.password : '' %>" 
                        placeholder="••••••••"
                        autocomplete="current-password"
                    >
                    <i class="fa-solid fa-lock login-input-icon"></i>
                </div>
                <div class="login-error">
                    <%= locals.errors && errors.password ? errors.password.msg : '' %>
                </div>
            </div>

            <button type="submit" class="login-button" id="loginBtn">
                Iniciar Sesión
            </button>

            <div class="login-links">
                <a href="#" class="login-link" id="restorePassword">¿Olvidaste tu contraseña?</a>
                <a href="#" class="login-link">Cambiar contraseña</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>